@import url("msfx/msfx.css");

:root {
  --toolbar-bgcolor: -moz-Dialog !important;
  --toolbar-color: -moz-DialogText !important;
  --lwt-text-color: -moz-DialogText !important;
  --toolbar-bgimage: none !important;
  --lwt-toolbarbutton-icon-fill: -moz-DialogText !important;
  --toolbar-field-focus-border-color: Highlight !important;
  --lwt-toolbar-field-background-color: rgb(255, 255, 255) !important;
  --lwt-toolbar-field-color: rgb(24, 25, 26) !important;
  --lwt-toolbar-field-border-color: rgb(204, 204, 204) !important;
  --lwt-toolbar-field-focus: rgb(255, 255, 255) !important;
  --lwt-toolbar-field-focus-color: rgb(24, 25, 26) !important;
  --toolbarbutton-vertical-text-padding: calc(
    var(--toolbarbutton-inner-padding) - 1px
  ) !important;
  --toolbarbutton-border-radius: 2px !important;
  --toolbarbutton-icon-fill-opacity: 1 !important;
  --panel-separator-color: ThreeDShadow !important;
  --arrowpanel-background: -moz-field !important;
  --arrowpanel-color: -moz-FieldText !important;
  --arrowpanel-border-color: ThreeDShadow !important;
  --arrowpanel-dimmed: hsla(0, 0%, 80%, 0.35) !important;
  --arrowpanel-dimmed-further: hsla(0, 0%, 80%, 0.5) !important;
  --arrowpanel-dimmed-even-further: hsla(0, 0%, 80%, 0.8) !important;
  --urlbar-separator-color: ThreeDShadow !important;
  --chrome-content-separator-color: ThreeDShadow !important;
  --toolbarbutton-hover-transition-duration: 0 !important;
  --toolbarbutton-outer-padding: 2px !important;
  --toolbarbutton-inner-padding: 6px !important;
  --toolbarbutton-focus-outline: 2px solid currentColor !important;
  --autocomplete-popup-background: rgb(255, 255, 255) !important;
  --autocomplete-popup-color: rgb(12, 12, 13) !important;
  --inline-tab-padding: 0px !important;
  --tab-border-radius: 0px !important;
  --tab-shadow-max-size: 0px !important;
  --tab-block-margin: 0px !important;
  --tab-min-height: 18px !important;
  --arrowpanel-border-radius: 0px !important;
  --toolbar-size: -16px !important;

  /** MSFX CONFIGURATION **/
  --hide-tab-close-button: none; /* none = hide | unset = show */
  --hide-back-button-text: unset; /* none = hide | unset = show */
  --hide-history-button-text: unset; /* none = hide | unset = show */
  --hide-find-button-text: unset; /* none = hide | unset = show */
  --hide-bookmarks-menu-button-text: unset; /* none = hide | unset = show */
  --show-tab-icons: unset; /* none = hide | unset = show */
  --show-alltabs-button: unset; /* none = hide | unset = show */ /* THIS BREAKS HIDING TABS WHEN THERES ONLY ONE!!! */
  --show-status-bar: flex; /* none = hide | flex = show */
  --lock-toolbars: none; /* none = hide | block = show */
  --show-history-menu-item: none; /* none = hide | unset = show */
  --selected-tab-font-weight: 600 !important; /* 600 = bold | 500 = normal */
  --toolbar-tinting: luminosity !important; /* luminosity = tinted | normal = disabled */
  --stop-reload-order: row-reverse; /* row-reverse = stop first, row = reload first */
}

/* Adds "Address" to navigation bar if desired to use that instead of a separate bar */
/*#nav-bar::before {
  content: "Address";
  display: block;
  height: 100%;
  line-height: 22px;
  padding-left: 4px;
  padding-right: 4px;
  -moz-box-ordinal-group: 1 !important;
}*/
